.about{
  background-color: #333333;
}
.aboutBanner{
  margin-top: 5%;
}
.aboutSection {
  height: auto;
  padding: 100px 0px 10px 0px;
  background-color: #333333;
}
.aboutImg {
  margin: auto;
  width: 100%;
}