/*-----------------------------------------------------------------------------------*/
/*  Banner
/*-----------------------------------------------------------------------------------*/
.gradientColor {
  background: linear-gradient(to right, #39489e, #d2489a);
  padding: 15% 0% 0% 0%;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  opacity: 0.65;
}
.carousel-content {
  width: 100%;
  max-width: 1300px;
}
.carousel-item img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}
.labelBanner {
  height: 100%;
  padding: 50px 0px 50px 0px;
}
.labelBanner .contentLeft {
  text-align: right;
}
.labelBanner .contentRight {
  margin: 0px 0px 20px 15px;
}
.labelBanner .contentRight img {
  width: 100%;
  height: 100%;
}
.tagLineMinor1Class {
  margin: 0px 0px 0px 60px;
  text-align: left !important;
}
.tagLineMinor1 {
  font-family: "Arial";
  font-weight: bold;
  font-style: italic;
  font-size: 34px;
}
.tagLineMinor {
  font-family: Jost_Reg;
  font-weight: bold;
  font-size: 33px;
}
.borderLine {
  width: 54px;
  height: 4px;
  margin-top: 0px;
  margin-right: 0px;
  background-color: #ffffff;
  border: 1px solid #ffffff;
  opacity: unset;
}
.tagLineMajor {
  font-family: "Jost_Reg";
  font-size: 13px;
  line-height: 95%;
}
.contentLeft .contentBtn {
  margin: 20px 0px 0px 0px;
  padding: 0;
}
.bannerBtn {
  padding: 10px 35px 10px 35px;
  font-size: 23px;
  color: #ffffff;
  border: 1px solid #39489e;
  background-color: #39489e;
  border-radius: 1px;
  text-decoration: none;
}
.bannerBtn:hover {
  color: #ffffff;
  border: 1px solid #d2489a;
  background-color: #d2489a;
  text-decoration: none;
}


/*-----------------------------------------------------------------------------------*/
/*  Mobile Responsive
/*-----------------------------------------------------------------------------------*/
/* Max Width 992px */
@media (max-width: 992px) {
  .carousel .labelBanner {
    max-width: 868px;
    padding: 100px 0px 0px 0px;
  }
  .labelBanner .contentRight {
    margin-top: unset;
  }
  .labelBanner .contentRight img {
    width: 200px;
    height: 100%;
  }
  .labelBanner .contentLeft {
    text-align: center;
  }
  .labelBanner .borderLine {
    height: 1px;
    /* background-color: unset;
    border: unset; */
  }
  .contentLeft .socmedDesc {
    margin: 15px 0px 0px 0px;
    line-height: 17px;
  }
  .contentLeft .socmedIcon .row {
    margin: auto;
    float: none;
    width: 82px;
  }
  .contentLeft .socmedIcon a {
    margin: auto;
    margin-top: 5px;
  }
  .contentLeft .socmedIcon .row img {
    margin: auto;
  }
  .contentLeft .tagLineMinor1 {
    font-size: 16px;
  }
  .contentRight .tagLineMinor1{
    font-size: 16px;
  }
  .contentRight .tagLineMinor1Class{
    margin: 10px 0px 0px 10px;
    text-align: left !important;
  }
  .contentLeft .tagLineMinor {
    font-size: 36px;
    line-height: 100%;
  }
}


/* Min Width 1200px */
@media (min-width: 1200px) {
  .carousel-item img {
    width: 100%;
    height: unset;
  }
  .contentLeft .tagLineMinor {
    font-size: 44px;
    line-height: 100%;
    font-family: "Arial";
    font-weight: bold;
    font-size: 90px;
    line-height: 95%;
  }
  .appSection .appBadge img {
    margin: 35px 0px 0px 0px;
  }
  .labelBanner .contentRight {
    margin-top: 60px;
  }
}