/*-----------------------------------------------------------------------------------*/
/*  Contact Us
/*-----------------------------------------------------------------------------------*/
.contact{
  background-color: #333333;
}
.aboutDesc button{
  padding: 10px 35px 10px 35px !important;
  font-size: 23px !important;
  font-weight: unset !important;
  font-family: "Jost_Reg", sans-serif !important;
  color: #ffffff !important;
  border: 1px solid #39489e !important;
  background-color: #39489e !important;
  border-radius: 1px !important;
  outline: unset !important;
}
.aboutDesc button:hover{
  color: #ffffff !important;
  border: 1px solid #d2489a !important;
  background-color: #d2489a !important;
  text-decoration: none !important;
}
.marginTop{
  margin-top: 3%;
}
.marginBottom{
  margin-bottom: 3%;
}