/*-----------------------------------------------------------------------------------*/
/*  Create User
/*-----------------------------------------------------------------------------------*/
.create-user-container {
  width: 100%;
  max-width: 450px;
  margin: 50px auto;
  padding: 30px;
  flex-direction: column;
}
.create-user-container .form-control {
  margin-bottom: 10px;
  border-radius: unset;
}
.create-user-container input {
  height: 56px;
}
.create-user-container .form-select {
  margin-bottom: 10px;
  border-radius: unset;
  height: 56px;
  color: #212529;
}
.create-user-container .btn-primary {
  width: 100%;
  height: 56px;
  padding: 15px;
  font-size: 16px;
  background-color: #39489e;
  border: none;
  border-radius: unset;
  transition: background 0.3s ease-in-out;
}
.create-user-container .btn-primary:hover {
  background-color: #0056b3;
}
.create-user-container .error-text{
  color: red;
}


.header-with-back {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}
.back-arrow img {
  width: 32px;
  height: auto;
  cursor: pointer;
  transition: opacity 0.2s ease-in-out;
}
.back-arrow img:hover {
  opacity: 0.7;
}



/* Responsive */
@media (max-width: 768px) {
  .create-user-container {
    padding: 20px;
    max-width: 90%;
  }
}
