.card {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-content: center;
  margin: 0 auto;
  margin-top: 70px;
  word-wrap: break-word;
  border-radius: 5px;
}
.card p{
  font-size: 18px;
}

.card-header {
  margin-top: 5px;
  margin-bottom: 10px;
  border-radius: 5px;
  background: #5d6770;
  color: white;
  text-align: center;
}
.card-header p {
  font-size: 20px;
}


@media (max-width: 568px) {
  .card {
    width: 100%;
  }
}
